.nav-tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-image: linear-gradient(105deg, #3586b2 50%, #5eaed8 50%, #a2d9e9);
}

#left-button {
    display: flex;
    align-items: center;
}

#left-button img {
    height: 60px;
    width : 70px;
    border-radius: 50px;
}

.right-button,
#nav-tab-sign-out {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 19px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60px;
    font-weight : bold;
}

.right-button {
    background-color:rgba(2, 200, 0, 0.8);
}

.right-button:hover {
    background-color:rgba(4, 136, 3, 1);
    transition: 0.8s;
    border: 1px solid black;
    font-weight : bold;
}


#nav-tab-sign-out 
{
    background-color :#e74c3c ;
}
#nav-tab-sign-out:hover {
    background-color: #a11000;
    transition :  0.8s;
    font-weight : bold;
}
